@font-face {
  font-family: 'Almirego Display';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/AlmiregoDisplayBold.eot');
  src: url('/fonts/AlmiregoDisplayBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AlmiregoDisplayBold.woff2') format('woff2'), url('/fonts/AlmiregoDisplayBold.woff') format('woff'),
    url('/fonts/AlmiregoDisplayBold.ttf') format('truetype'),
    url('/fonts/AlmiregoDisplayBold.svg#AlmiregoDisplayBold') format('svg');
}

@font-face {
  font-family: 'Almirego Display';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/AlmiregoDisplayLight.eot');
  src: url('/fonts/AlmiregoDisplayLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AlmiregoDisplayLight.woff2') format('woff2'), url('/fonts/AlmiregoDisplayLight.woff') format('woff'),
    url('/fonts/AlmiregoDisplayLight.ttf') format('truetype'),
    url('/fonts/AlmiregoDisplayLight.svg#AlmiregoDisplayLight') format('svg');
}

@font-face {
  font-family: 'Almirego Display';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AlmiregoDisplayRegular.eot');
  src: url('/fonts/AlmiregoDisplayRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AlmiregoDisplayRegular.woff2') format('woff2'), url('/fonts/AlmiregoDisplayRegular.woff') format('woff'),
    url('/fonts/AlmiregoDisplayRegular.ttf') format('truetype'),
    url('/fonts/AlmiregoDisplayRegular.svg#AlmiregoDisplayRegular') format('svg');
}

@font-face {
  font-family: 'Almirego';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/AlmiregoBold.eot');
  src: url('/fonts/AlmiregoBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AlmiregoBold.woff2') format('woff2'), url('/fonts/AlmiregoBold.woff') format('woff'),
    url('/fonts/AlmiregoBold.ttf') format('truetype'), url('/fonts/AlmiregoBold.svg#AlmiregoBold') format('svg');
}

@font-face {
  font-family: 'Almirego';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/AlmiregoLight.eot');
  src: url('/fonts/AlmiregoLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AlmiregoLight.woff2') format('woff2'), url('/fonts/AlmiregoLight.woff') format('woff'),
    url('/fonts/AlmiregoLight.ttf') format('truetype'), url('/fonts/AlmiregoLight.svg#AlmiregoLight') format('svg');
}

@font-face {
  font-family: 'Almirego';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AlmiregoRegular.eot');
  src: url('/fonts/AlmiregoRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AlmiregoRegular.woff2') format('woff2'), url('/fonts/AlmiregoRegular.woff') format('woff'),
    url('/fonts/AlmiregoRegular.ttf') format('truetype'),
    url('/fonts/AlmiregoRegular.svg#AlmiregoRegular') format('svg');
}
