<section id="content">
  <div class="inner-content">
    <%= Enum.map assigns[:repos], fn (repo)-> %>
      <dl class="<%= repo.language %>">
        <dt>
          <a href=<%= repo.url %> target="_blank">
            <small><%= repo.stargazers_count %> ★</small>
            <%= repo.name %>
          </a>
        </dt>
        <dd><%= repo.description %></dd>
      </dl>
    <% end %>
  </div>
</section>
